<launch>
    <node name="rviz" pkg="rviz2" exec="rviz2" output="screen" 
        args="-d /home/kiki/Workspace/drone_monitor/my_launch/launch/MINCO_planner.rviz">
    </node>

    <!-- <node name="pos_vel_plot" pkg="rqt_gui" exec="rqt_gui">
    </node> -->

    <node pkg="mockamap" exec="mockamap_node" name="mockamap_node" output="screen">
    <param name="seed"        value="1024"/>
    <param name="update_freq" value="1.0"/>
    <param name="resolution"  value="0.25"/>
    <param name="x_length"    value="50"/>
    <param name="y_length"    value="50"/>
    <param name="z_length"    value="5"/>
    <param name="type"        value="2"/>
    <param name="complexity"  value="0.025"/>
    <param name="fill"        value="0.3"/>
    <param name="fractal"     value="1"/>
    <param name="attenuation" value="0.1"/>
    <param name="width_min"       value="0.6"/>
    <param name="width_max"       value="1.5"/>
    <param name="obstacle_number" value="50"/>
    <param name="road_width"      value="0.5"/>
    <param name="add_wall_x"      value="0"/>
    <param name="add_wall_y"      value="1"/>
    <param name="maze_type"       value="1"/>
    <param name="numNodes"        value="40"/>
    <param name="connectivity"    value="0.8"/>
    <param name="nodeRad"         value="1"/>
    <param name="roadRad"         value="10"/>
    <remap from="/mock_map" to="/voxel_map"/>
    </node>

    <node pkg="gcopter" exec="global_planning" name="global_planning_node" output="screen">
    <param name="MapTopic" value="/voxel_map"/>
    <param name="TargetTopic" value="/move_base_simple/goal"/>
    <param name="DilateRadius" value="0.5"/>
    <param name="VoxelWidth" value="0.25"/>
    <param name="MapBound" value="[-25.0, 25.0, -25.0, 25.0, 0.0, 5.0]"/>
    <param name="TimeoutRRT" value="0.02"/>
    <param name="MaxVelMag" value="4.0"/>
    <param name="MaxBdrMag" value="2.1"/>
    <param name="MaxTiltAngle" value="1.05"/>
    <param name="MinThrust" value="2.0"/>
    <param name="MaxThrust" value="12.0"/>
    <param name="VehicleMass" value="0.61"/>
    <param name="GravAcc" value="9.8"/>
    <param name="HorizDrag" value="0.70"/>
    <param name="VertDrag" value="0.80"/>
    <param name="ParasDrag" value="0.01"/>
    <param name="SpeedEps" value="0.0001"/>
    <param name="WeightT" value="20.0"/>
    <param name="ChiVec" value="[1.0e+4, 1.0e+4, 1.0e+4, 1.0e+4, 1.0e+5]"/>
    <param name="SmoothingEps" value="1.0e-2"/>
    <param name="IntegralIntervs" value="16"/>
    <param name="RelCostTol" value="1.0e-5"/>
    </node>

    <!-- <node pkg="simulation" exec="simulation_node" name="mic_module_node" output="screen">
    </node> -->

</launch>
